#SQLITE_DB = "sqlite:///izpm.db"
MYSQL_CONFIG = {
    'user': 'user',
    'password': 'password',
    'host': 'localhost',
    'port': 3306,
    'database': 'izpm'
}
MYSQL_DB = "mysql+mysqlconnector://{}:{}@{}:{}/{}?charset=utf8mb4".format(MYSQL_CONFIG["user"], MYSQL_CONFIG["password"],
                                                        MYSQL_CONFIG["host"], MYSQL_CONFIG["port"], MYSQL_CONFIG["database"])


SERVER_NAME = "izone-mail.com"

API_SUBDOMAIN = "app-api"
WEB_SUBDOMAIN = "app-web"
IMG_SUBDOMAIN = "app-img"

API_HOST   = "http://{}.{}".format(API_SUBDOMAIN, SERVER_NAME)
WEB_HOST   = "http://{}.{}".format(WEB_SUBDOMAIN, SERVER_NAME)
IMG_HOST   = "http://{}.{}".format(IMG_SUBDOMAIN, SERVER_NAME)

IMAGE_PREFIX  = IMG_HOST + "/artist/profile/starship/202010211113"
DETAIL_PREFIX = WEB_HOST + "/mail"

CRYPTO_KEY = b"SAMPLE16BYTESKEY"
